.venv
__pycache__
build
dist
.pytest_cache
.mypy_cache
.nox
.tox
.coverage
.coverage.*
.cache
.eggs
htmlcov
nosetests.xml
nosehtml.xml
coverage.xml
*.py[co]
*$py.class
Thumbs.db
.DS_Store
.claude
/nul
